---
layout: default
---

<div id="{{ page.slug }}" class="action{% unless page.http %} sync{% endunless %}">
	<h2>{{ page.categories[1] | capitalize }} &raquo; {{ page.title }}</h2>
	{% if page.http %}
		<b>HTTP URI:</b> <code>{{ page.http | join: ', ' }}</code>
	{% endif %}
	{% if page.doc %}
		<a href="{{ page.doc }}" target="_blank" class="info">official documentation</a>
	{% endif %}
	{{ content }}
</div>

<a href="/node-couchdb-api/{{ page.categories | join: '/' }}.html">&laquo; Back to {{ page.categories[1] | capitalize }} API Reference</a>
