<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dominic Barnes - {% if page.title %}{{ page.title }}{% else %}Web Development{% endif %}</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="author" content="Dominic Barnes" />
	<meta name="description=" content="{{ page.description }}" />
	<meta name="keywords" content="javascript, node.js, couchdb, {{ page.keywords | join: ', ' }}" />
	<meta name="revised" content="{{ site.time }}" />

	<link rel="stylesheet" type="text/css" href="/node-couchdb-api/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/node-couchdb-api/css/syntax.css" />

	<link rel="icon" type="image/png" href="/node-couchdb-api/img/favicon.ico" />

	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<header>
	<a id="html5-badge" href="http://www.w3.org/html/logo/"><img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>

	<hgroup>
		<h1><a href="/node-couchdb-api">node-couchdb-api</a></h1>
		<h2>Node.JS CouchDB API Wrapper</h2>
	</hgroup>

	<nav>
		<ul class="primary">
			<li><a href="/index.html">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="/jWizard/">jWizard</a></li>
			<li><a href="/node-couchdb-api/" class="current">node-couchdb-api</a></li>
		</ul>
	</nav>
</header>

<aside class="right">
	<div>
		<nav>
			<h3>API Reference</h3>
			<ol>
				<li>
					<a href="/node-couchdb-api/api/server.html">Server</a>
					<ol type="a">
						{% for action in site.categories.server reversed %}
							<li><a href="/node-couchdb-api/{{ action.categories | join: '/' }}.html#{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
				<li>
					<a href="/node-couchdb-api/api/database.html">Database</a>
					<ol type="a">
						{% for action in site.categories.database reversed %}
							<li><a href="/node-couchdb-api/{{ action.categories | join: '/' }}.html#{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
				<li>
					<a href="/node-couchdb-api/api/document.html">Document</a>
					<ol type="a">
						{% for action in site.categories.document reversed %}
							<li><a href="/node-couchdb-api/{{ action.categories | join: '/' }}.html#{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
				<li>
					<a href="/node-couchdb-api/api/designdocument.html">Design Document</a>
					<ol type="a">
						{% for action in site.categories.designdocument reversed %}
							<li><a href="/node-couchdb-api/{{ action.categories | join: '/' }}.html#{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
				<li>
					<a href="/node-couchdb-api/api/view.html">View</a>
					<ol type="a">
						{% for action in site.categories.view reversed %}
							<li><a href="/node-couchdb-api/{{ action.categories | join: '/' }}.html#{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></li>
						{% endfor %}
					</ol>
				</li>
			</ol>
		</nav>
	</div>
</aside>

<section id="content">
{{ content }}
</section>

<footer></footer>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19054604-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>

</html>
