<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>node-couchdb-api</title>
    <link rel="stylesheet" type="text/css" href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css">
</head>

<body>
    <%= navigation %>

    <div class="container">
        <%= content %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
</body>

</html>
